{% extends 'website/base.html' %}

{% block content %}
<h1>{{ news }}</h1>
<p>
    <small>
        Opublikowano: {{ news.date }},
        Autor: {{ news.author.get_full_name }}
    </small>
</p>
{{ news.content|safe }}
{% endblock %}
