<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Poznań Python Programmers">
        <meta name="author" content="">
        <title>PyRa - Poznań Python Programmers</title>
        <link href="{{ STATIC_URL }}website/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'home' %}">PYRA</a>
                </div>
                <div class="navbar-collapse collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="">Spotkania</a></li>
                        <li><a href="">Prelegenci</a></li>
                        <li><a href="">Sponsorzy</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
        {% block content %}{% endblock %}
            <footer>
                <p class="pull-right"><a href="#">TOP</a></p>
                <p>&copy; {% now 'Y' %} PyRa</p>
            </footer>
        </div>

        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="{{ STATIC_URL }}website/vendor/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
