{% extends 'website/base.html' %}

{% block content %}
<h2>Aktualności</h2>
<ul>
{% for news in news_list %}
    <li><a title="{{ news }}" href="{{ news.get_absolute_url }}">{{ news }}</a></li>
{% endfor %}
</ul>
<a href="{% url 'news:index' %}">Archiwum</a>

{% endblock %}
